<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            margin: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 30px;
        }

        h3 {
            color: #333;
            text-align: center;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: bold;
        }
        .description {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
        }

        form {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        label {
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
            color: #555;
        }

        input {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 15px 30px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

        #chart-container {
            margin-top: 30px;
        }

        footer {
            margin-top: 20px;
            color: #666;
            text-align: center;
        }

        .covid-info,
        .covid-info2 {
            flex: 1;;
            margin-right: 10px;}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Statistici COVID-19</h1>
                <div class="description">
                    <p>
                        Aplicația Covid-19 Traker vă permite să aflați cu ușurință detalii despre evoluția cazurilor de Covid și a deceslor cauzate de acesta.
                        Pentru a extrage informațiile dorite, selectați țara de interes și o perioadă de timp.


                    </p>
                    <p>Aplicația va afișa suma totală a cazurilor de Covid care s-au înregistrat de la apariția virusului și până în prezent.</p>
                    <p>
                        De asemenea, în urma selectării perioadei de interes, va fi afișat un grafic al evoluției cazurilor și deceselor,
                        dar și numărul total de îmbolnăviri și decese înregistrat.
                    </p>
                </div>
                <form method="post" action="/">
                    <div class="form-group">
                        <label for="country">Țară:</label>
                        <select name="country" class="form-control" required>
                            {% for country in countries %}<option value="{{ country }}">{{ country }}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="start_date">Data de început:</label>
                            <input type="date" name="start_date" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="end_date">Data de sfârșit:</label>
                            <input type="date" name="end_date" class="form-control" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Caută</button>
                </form>

            </div>
        </div>
    <div id="chart-container">
        {% if statistics%}
            <h2>Numărul total de cazuri pentru {{ selected_country }}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Continent</th>
                        <th>Cazuri Confirmate</th>
                        <th>Teste</th>
                        <th>Decese</th>
                        <th>Vindecați</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stat in statistics %}
                        {% if stat.country == selected_country %}
                        <tr>
                            <td>{{ stat.continent }}</td>
                            <td>{{ stat.cases.total }}</td>
                            <td>{{ stat.tests.total }}</td>
                            <td>{{ stat.deaths.total }}</td>
                            <td>{{ stat.tests.total }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        {% endif %}

        {% if html_fig %}
            <h3>Numărul de îmbolnăviri pentru {{ selected_country }} în perioada {{ start_date }} - {{ end_date }} este de: {{ confirmed }}</h3>
            <div class="covid-info">
                {{ html_fig|safe }}
            </div>
        {% endif %}
    {% if html_fig %}
        <h3>Numărul de decese pentru {{ selected_country }} în perioada {{ start_date }} - {{ end_date }} este de: {{ deaths }}</h3>
            <div class="covid-info2">
                {{ html_fig2|safe }}
            </div>
        {% endif %}

    </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
